.wm-page-content {
    max-width: 980px;
    background-color: #fff;
    -webkit-box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.1);
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 25px;
    padding-top: 25px;
}
.btn-group-xs>.btn, .btn-xs {
    font-size: 14px;
}

.wm-page-toc-text {
    /*font-size: 13px;*/
}
.wm-top-link, .wm-top-link:hover, .wm-top-link:active, .wm-top-link:visited, .wm-top-link:focus {
    color: black;
}
.navbar {
    background-color: white;
}

.wm-top-page > .wm-page-top-frame {
    border-bottom: 1px solid #dedede;
}

body {
    background-color: #f6f7fb;
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
    background-color: #0583d2;
}

.wm-toctree a, .wm-toctree a:visited, .wm-toctree a:hover, .wm-toctree a:focus,
.wm-article-nav > a, .wm-article-nav > a:visited, .wm-article-nav > a:hover, .wm-article-nav > a:focus{
    color: #0a466b;
}

#main-content > nav > ul > li.wm-toc-li-nested.collapse.in > ul > li.wm-toc-li.wm-toc-lev2.wm-current.wm-page-toc-opener.wm-page-toc-open > a,
#main-content > nav > ul > li.wm-toc-li.wm-toc-lev1.wm-current.wm-page-toc-opener.wm-page-toc-open > a,
.wm-current.wm-page-toc-opener > a,
.wm-toc-li.wm-toc-lev2.wm-current > a,
.wm-toc-li.wm-toc-lev1.wm-current > a{
    color: white;
}
.wm-toc-pane {
    background-color: #f7f7f7;
}

ol, ul {
    -webkit-padding-start: 20px;
}

body > div > ul > li > p{
    margin: 0;
}

li{
    padding-bottom: 1px;
}

li.wm-toc-li{
    padding-bottom: 0px;
}

.wm-page-content a {
    color: #0a466b;
}

.menu-top {
    color: #505050;
    font-weight: bold;
    padding-right: 14px;
}

h2 {
    margin-top: 30px;
}

.wm-top-title{
    height: 38px;
    padding-left: 5px;
    background: url(../img/sushi.png) no-repeat;
    background-size: 248px 38px;
    width: 248px;
}

@media (max-width: 760px){
  .wm-top-title {
      width: 39px;
  }
}